@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

  body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.dark {
  background-color: #1a202c; /* Dark background */
  color: #f7fafc; /* Light text */
}

/* Additional styles for dark mode */
.dark .bg-gray-800 {
  background-color: #2d3748; /* Darker background for gray-800 */
}

.dark .text-white {
  color: #e2e8f0; /* Lighter text for white */
}

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
.sigmar-regular {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}